// 自定义全局样式变量，可覆盖 bootstrap 或 element-ui 的样式

$primary:           #57b231;

$body-bg:           #f9f9f9;
$font-family-base:  Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif !default;
